<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.chat_backend.mapper.GroupMapper">

    <select id="findGroupsByUserId" resultType="com.chat.chat_backend.module.entity.Group">
        SELECT g.* FROM chat_group g
                            INNER JOIN group_member gm ON g.id = gm.group_id
        WHERE gm.user_id = #{userId}
    </select>

    <update id="clearUnreadCount">
        UPDATE group_member
        SET unread_count = 0, last_read_time = NOW()
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </update>

</mapper>